body
{
    background: rgb(216, 210, 210);
}

.caja
{   
    background-color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #ccc;  
    border-radius: 2px;
    border-top: solid 0px;
}

.contenido
{
    padding: 10px;
}

.header
{
    padding: 10px;
    border-bottom: solid 1px #eee;     
}

.footer
{
    padding: 10px;
    border-top: solid 1px #eee;
}
.aceptar
{
    background-color: #0090ff;
    border: 0px;
    color: #fff;
    padding: 5px;
}

.cancelar
{
    background-color: #aaa;
    border: 0px;
    color: #fff;
    padding: 5px;
}

