body 
{
    background-color: #eee;
    
}

.box
{
    width: 200px;
    background-color: white;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
    margin: 10px 15px;
    padding: 10px 15px;
    text-align: center;
    transition: 0.3s;
    
}

.red
{
    border-left: solid 4px red;
}

.green
{
    border-left: solid 4px green;  

}

.blue
{   
    border-left: solid 4px blue;
}

.red:hover
{
    transform: scale(1.05,1.05);

}

.green:hover
{
    box-shadow: 2px 2px 15px rgba(0,0,0,0.5);
}

.blue:hover
{
    background-color: rgba(121, 135, 219, 0.4) ;
}